/* @font-face {
  font-family: 'San Francisco';
  src: url(fonts/SF-Pro-Text-Regular.otf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'San Francisco';
  src: url(fonts/SF-Pro-Text-Medium.otf);
  font-style: normal;
  font-weight: 400;
} */
/* *, *::before, *::after   {
  box-sizing:border-box;
} */
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  /* Bron: https://stackoverflow.com/questions/32660748/how-to-use-apples-new-san-francisco-font-on-a-webpage */
  margin: 0;
}

/* NAVIGATIEBAR: */

.navbarFixed {
  position: fixed;
  z-index: 5;
  width: 100%;
}

header nav {
  background-color: #2F3232;
  filter: blur(40em;);
}

header nav ul {
  display: flex;
  justify-content: space-around;
  padding: 1em;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hamburger-menu-animatie {
  position: relative;
  z-index: 1;
}

div.hamburger-menu-animatie span {
  display: block;
}

.hamburger-menu-animatie #streep1 {
  height: .15em;
  width: 1.5em;
  background-color: red;
  margin: .5em 0;
  transition-duration: .5s;
}

.hamburger-menu-animatie #streep2 {
  height: .15em;
  width: 1.5em;
  background-color: blue;
  margin: .5em 0;
  transition-duration: .5s;
}

.hamburger-menu-animatie #streep1.open {
  position: absolute;
  height: .15em;
  width: 1.5em;
  background-color: red;
  margin: .5em 0;
/*   margin: 0 0; */
    transform: translate(0, .25em);
  transform: rotate(45deg);
  transition-duration: .5s;
}

.hamburger-menu-animatie #streep2.open {
  position: absolute;
  height: .15em;
  width: 1.5em;
  background-color: blue;
  margin: .5em 0;
/*   margin: 0 0; */
  transform: translate(0, -.25em);
  transform: rotate(-45deg);
  transition-duration: .5s;
}

/* HAMBURGER-MENU */

div.hamburger {
  position: absolute;
  transform:translateY(-100%);
  z-index: -1;
}

div.openHamburger {
  transform:translateY(0);
  z-index: 200;
}

.hamburger-menu {
  position: relative;
  background-color: black;
  width: 375px;
  height: 667px;
}

.hamburger-menu input {
  width: 85%;
  margin: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 1.5em;
  border-radius: 5px;
  font-size: 1em;
  border: none;
  background-color: #1D1C1F;
}

.hamburger-menu ul {
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.hamburger-menu ul li {
  position: relative;
  list-style-type: none;
  padding-bottom: 2em;

}

.hamburger-menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

.hamburger-menu ul li a::before {
  content: '';
  height: .02em;
  width: 85%;
  background-color: grey;
  position: absolute;
  bottom: 0;
  margin-bottom: .5em;
}

header img:first-of-type {
  /* height: 10px;
  width: 30px; */
  height: 1em;
  width: 2em;
}

/* .hamburger-menu {
  position: relative;
  background-color: black;
  width: 375px;
  height: 667px;
}

.hamburger-menu input {
  width: 85%;
  margin: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 1.5em;
  border-radius: 5px;
  font-size: 1em;
  border: none;
  background-color: #1D1C1F;
}

.hamburger-menu ul {
  display: block;
  margin-left: 0;
}

.hamburger-menu ul li {
  position: relative;
  list-style-type: none;
  padding-bottom: 2em;
}

.hamburger-menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

.hamburger-menu ul li a::before {
  content: '';
  height: .02em;
  width: 85%;
  background-color: grey;
  position: absolute;
  bottom: 0;
  margin-bottom: .5em;
} */

/* CORONA INFORMATIE (PAGINA 1): */
/* Blauw */
header section:first-of-type {
  background-color: #0071E2;
  text-align: center;
}

header section a {
  /* margin: 2em; */
  line-height: 1.5em;
  text-decoration: none;
  /* Bron: https://stackoverflow.com/questions/2789703/remove-stubborn-underline-from-link */
}

header section a:first-of-type {
  color: white;
  padding: 0 1em 0 1em;
  /* margin: 2em; */
  line-height: 1.5em;
  text-decoration: none;
  text-align: center;
  /* Bron: https://stackoverflow.com/questions/2789703/remove-stubborn-underline-from-link */
}

/* Wit */
header section:nth-of-type(2) p a {
  color: #0065CB;
  padding: 0;
}

header section p {
  background-color: white;
  color: black;
  text-align: center;
  margin: 0;
}

/* MAIN */
/* SECTION 1: IPHONE SE */
main.pagina1main {
  overflow-x: hidden;
}

main section {
  position: relative;
  background-color: #121312;
}

main img {
  height: 100%;
  width: 100%;
}

main section h2, h3, p {
  /* position: absolute; */
  color: white;
  text-align: center;
  margin: 0;
}

main section h2 {
  padding-top: 2em;
}

main section h3, p {
  padding: .5em 2em 0 2em;
}

main section p, p a {
  color: #86858B;
  text-decoration: none;
}

main section p a:first-of-type {
  color: #86858B;
  text-decoration: none;
}

main section ul {
  text-align: center;
  padding: 0;
  margin: .5em 0 0 0;
}

main section ul li {
  display: inline-table;
}

main section ul li a {
  color: #2797FE;
  text-decoration: none;
}

/* (PAGINA 2) MAIN */
/* IPHONE SE */
/* SECTION 2: IPHONE 11 (UITZONDERINGEN) */
main section:nth-of-type(2) {
  background-color: #F9FAF9;
}

main section:nth-of-type(2) h2, section:nth-of-type(2) h3 {
  color: black;
}

main img:nth-of-type(2) {
  position: relative;
  right: 22em;
  width: 275%;
  height: 275%;
  overflow: hidden;
}

/* SECTION 3: IPAD PRO (UITZONDERINGEN) */
main section:nth-of-type(3) {
  background-color: #F9FAF9;
}

main section:nth-of-type(3) h2, section:nth-of-type(3) h3 {
  color: black;
}

main img:nth-of-type(3) {
  position: relative;
  right: 21em;
  width: 275%;
  height: 275%;
  overflow: hidden;
}

/* SECTION 4: COLLEGE (UITZONDERINGEN) */
main section:nth-of-type(4) {
  background-color: #F0EFF2;
}

main section:nth-of-type(4) h2, section:nth-of-type(4) h3 {
  color: black;
}

main section:nth-of-type(4) h2 {
  margin-left: 4em;
  margin-right: 4em;
}

/* SECTION 5: AIRPODS (UITZONDERINGEN) */
main section:nth-of-type(5) {
  background-color: #FBFAFD;
}

main section:nth-of-type(5) h2, section:nth-of-type(5) h3 {
  color: black;
}

main section:nth-of-type(5) h3 {
  margin-left: .9em;
  margin-right: .9em;
}

/* SECTION 6: APPLE CARD */
main section:nth-of-type(6) {
  background-color: #FBFAFD;
}

main section:nth-of-type(6) h2, section:nth-of-type(6) h3, section:nth-of-type(6) h3 a sup {
  color: black;
}

main section:nth-of-type(6) h3 a {
  text-decoration: none;
}

main section:nth-of-type(6) h2 {
  margin-left: 4em;
  margin-right: 4em;
}

/* SECTION 7: LITTLE VOICE */
main section:nth-of-type(7) h4, section:nth-of-type(7) a {
  position: absolute;
  z-index: 1;
}

main section:nth-of-type(7) h4 {
  color: white;
  bottom: 10%;
  left: 0;
  right: 0;
  text-align: center;
}

main section:nth-of-type(7) a {
  bottom: 8%;
  left: 0;
  right: 0;
  text-align: center;
}

main section:nth-of-type(7) img:first-of-type {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  height: auto;
  z-index: 1;
}

main section:nth-of-type(7) img:nth-of-type(2) {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: auto;
  z-index: 1;
}

main section:nth-of-type(7) img:nth-of-type(3) {
  position: relative;
}

/* SECTION 8: APPLE WATCH */
main section:nth-of-type(8) {
  background-color: #FBFAFD;
}

main section:nth-of-type(8) img {
  position: absolute;
  width: 30%;
  height: auto;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}

main section:nth-of-type(8) h3 {
  color: #D11F2A;
  padding-top: 6em;
  font-size: .8em;
}

main section:nth-of-type(8) h4 {
  color: black;
}

main section:nth-of-type(8) h4 {
  text-align: center;
  margin-left: 2em;
  margin-right: 2em;
}

/* SECTION 9: APPLE'S APPROACH */
main section:nth-of-type(9) {
  background-color: #FBFAFD;
}

main section:nth-of-type(9) h2 {
  color: black;
  margin-left: 1em;
  margin-right: 1em;
}

/* FOOTER */
/* SECTION 1: ALGEMENE INFORMATIE */
footer {
  background-color: #FBFAFD;
}

footer section:first-of-type ul, ol {
  font-size: .7em;
  list-style-type: none;
  padding-left: 0;
}

footer section:first-of-type ul li, ol li {
  color: #86858B;
  padding: 1em 2em 1em 2em;
}

footer nav details {
  position: relative;
}

footer nav details summary::before {
  content: '';
  height: .05em;
  width: 90%;
  background-color: #86858B;
  position: absolute;
  bottom: 0;
}

/* bron: https://stackoverflow.com/questions/6195329/how-can-you-hide-the-arrow-that-is-displayed-by-default-on-the-html5-details-e */
footer details summary::-webkit-details-marker {
  display: none;
}

footer section nav details summary {
  font-size: .7em;
  margin-left: 2em;
  padding: 1em 0 1em 0;
}

details summary {
  text-align: left;
}

footer section nav a {
  color: #86858B;
  text-decoration: none;
  margin-left: 3em;
  font-size: .7em;
}

footer section.lastItems {
  font-size: .7em;
  margin-top: 2em;
  margin-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
}

footer section.lastItems ul {
  padding-left: 0;
}

footer section.lastItems li {
  margin-top: 2em;
  list-style-type: none;
}

footer section.lastItems a {
  color: black;
  text-decoration: none;
}

footer section.lastItems li:first-of-type a {
  color: #2797FE;
}


footer section.lastItems li:first-of-type, li:nth-of-type(3) {
  color: #86858B;
}

footer section.lastItems li:last-of-type {
  margin: .5em auto 0;
}

/* PAGINA 2 A */

.pagina2main a {
 color: #0065CB;
}

/* (PAGINA 2) HEADER BUY IPHONE SE */

section.pagina2header {
  z-index: 100;
  border-bottom: .05em solid #EBECEB;
  position: sticky;
  top: 0;
  background-color: white;
}

section.pagina2header ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 16px;
  background-color: white;
  padding-top: 0;
  /* display: flex;
  justify-content: space-around; */
}

section.pagina2header ul li {
  text-align: left;
  list-style-type: none;
}

section.pagina2header ul li h1 {
  text-align: left;
  margin: 0;
  font-size: 1em;
}

section.pagina2header li:nth-of-type(2) {
  text-align: right;
}

section.pagina2header2 p {
  background-color: #FBFAFD;
  font-size: .7em;
  list-style-type: none;
  padding-left: 0;
  color: #86858B;
  padding: 1em;
}

/* (PAGINA 2) MAIN */
/* BUY IPHONE SE */
main.pagina2main section {
  background-color: white;
  text-align: center;
  padding-top: 1em;
}

main.pagina2main section h3 {
  color: #D11F2A;
}

main.pagina2main section h1, a {
  text-align: center;
  text-decoration: none;
}

main.pagina2main section a {
  color: #0065CB;
}

main.pagina2main section:first-of-type p {
  color: black;
  padding-bottom: 1em;
}

/* H2 .kiezen titels */

.pagina2main h2.kiezen {
  text-align: left;
  padding-left: 1em;
  margin-left: 0;
  margin-right: 0;
}

/* CHOOSE COLOR */

/* bron: https://markheath.net/post/customize-radio-button-css */
img.productRed {
  width: 30%;
  padding-top: 2em;
}

form {
  display: grid;
  margin-top: 1em;
  margin-left: 1.5em;
  grid-gap: 1em;
  text-align: center;
  grid-template-columns: 10em 10em;
}

form.carrier label.simfreeuitzondering {
  grid-area: 3 / 1 / 4 / 3;
}

input[type="radio"] {
  display: none;
}

label {
  font-size: .7em;
  padding: 2em;
  border: 1px solid #d5d6d5;
  border-radius: 4px;
  height: 5em;
  width: auto;
}

/* form.color label:first-of-type {
  background-image: url(images/input-white.jpeg);
  background-repeat: no-repeat;
  background-position: 50% 60%;
  background-size: 20%;
} */
label:hover {
  cursor: pointer;
  border: 2px solid #006FC9;
}

label:active {
  box-shadow: 0 0 0 4px lightblue;
}

/* .formLinkLeft {
  text-align: left !important;
} */

.chooseColor {
  display: block;
  transform: translateX(60%);
  height: 50%;
  width: auto;
  padding: 1em;
}

.capacity label {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  padding: 1em;
  padding-bottom: 0;
}

.GBprice {
  margin-top: 0;
  padding-top: .5em;
  font-size: .5em;
  text-align: center;
}

p.carrierUitleg {
  text-align: left;
  padding-left: 1.5em;
}

.carrier .simfreeuitzondering {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.carrier span {
  font-size: 1.5em;
}

.chooseCarrier1 {
  height: 75%;
  width: auto;
}

.chooseCarrier2 {
  height: 35%;
  width: auto;
  padding-bottom: .5em;
}

.trade-in label {
  font-size: 1em;
}

.YesTradeIn {
  display: flex;
  flex-direction: column;
}

.priceTradeIn {
font-size: .7em;
}

.continueandheart {
  margin: 2em 0 2em 1.5em;
  display: flex;
  justify-content: space-between;
  background-color: #F1F2F1;
}

button.continue {
  background-color: #006FC9;
  color: white;
  border: none;
  border-radius: 4px;
  border-color: #d5d6d5;
  padding: .6em 8em .6em 8em;
}

button.continue:hover {
  filter: brightness(110%);
}

button.continue:active {
  box-shadow: 0 0 0 4px lightblue;
}

img.heart {
  width: 8%;
  padding-right: 2em;
}

/* .pagina2main ul.information {
 display: flex;
 flex-wrap: wrap;
}

.pagina2main ul.information li.text {
   transform: translateX(50%);
}

.pagina2main ul.information li img {
  position: relative;
  width: 20%;
  margin: 2em 5em 0;
} */
/*
.pagina2main ul.information {
  position: relative;
  margin: auto;
  width: 100%;
}

.pagina2main ul.information li.text {
  margin: auto;
  padding: 2em 2em;
}

.pagina2main ul.information li img {
  position: absolute;
}
*/

/* .pagina2main section ul li img {
  height: 5em;
  position: relative;
  margin-top: 5em; */

/* } */

/* PAGINA 2 UITKLAPMENU'S */

div.information ul {
  padding: 0;
}

div.information li {
  list-style-type: none;
  margin: auto;
  width: 50%;
  text-align: center;
  font-size: .7em;
  padding: 1em;
}

div.information img {
  width: 20%;
}

/* PAGINA 2 FOTOCAROUSSEL */

.gallerij {
  position: relative;
}

.pagina2main div.carousselimages img {
  display: none;
}

.pagina2main div.carousselimages img.showImage {
  display: block;
  width: 100%;
  right: 0;
  left: 0;
}

.pagina2main div.carousselbullets {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.pagina2main div.carousselbullets span {
  display: inline-block;
  height: .5em;
  width: .5em;
  border-radius: 50%;
  background-color: grey;
  margin: .5em;
  cursor: pointer;
  transition-duration: .5s;
}

.pagina2main div.carousselbullets span.fotoactive {
  background-color: white;
  transition-duration: .5s;
}

/* PAGINA 2 APPLE TV */

div.appleTVsection {
  position: relative;
  background-color: black;
}

div.appleTVsection p {
  padding: 5em 6em;
}

div.appleTVsection img {
  position: absolute;
  width: 20%;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  z-index: 1;
}

/* PAGINA 2 UITKLAPMENU'S */

/* bron: https://stackoverflow.com/questions/21092055/remove-blue-border-from-open-details-element-in-chrome */
summary {
  outline: none;
}

.pagina2main section.questionSummary summary::-webkit-details-marker {
  display: none;
}

.pagina2main section.questionSummary details {
  padding: 1em;
  font-size: 1.5em;
  position: relative;
}

.pagina2main section.questionSummary details.questionSmall {
  padding: 0;
}

.pagina2main section.questionSummary summary.question {
  margin-top: 2em;
  font-size: .35em;
  font-weight: bold;
}

.pagina2main section.questionSummary details > summary::after {
  content: "+";
  position: absolute;
  color: grey;
  font-size: 2em;
  font-weight: 300;
  right: .5em;
  top: .125em;
  transition: .1s;
  transition-timing-function: linear;
}

.pagina2main section.questionSummary details[open] summary::after {
  content: "+";
}

.pagina2main section.questionSummary details[open] > summary::after {
  content: "+";
  transform: rotate(45deg);
}

.pagina2main section.questionSummary ul {
  text-align: left;
  font-size: .4em;
}

/* PAGINA 2 VERGELIJKEN */

.vergelijken {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 2em;
}

li.iPhones {
  padding-bottom: 6em;
}

.vergelijken li {
  list-style-type: none;
  flex-basis: 50%;
}

.vergelijken li.specs {
  padding-top: 1em;
  font-size: .8em;
}

.algemeneInfo {
  padding-left: .5em;
}

.algemeneInfo img {
  width: 60%;
}

.algemeneInfo img.iPhone11Pro {
  width: 75%;
}

.algemeneInfo img.iPhone11 {
  padding-top: .7em;
}

.algemeneInfo img.iPhoneXR {
padding-top: .7em;
}

.algemeneInfo img.iPhoneSE {
  width: 55%;
}

.algemeneInfo li {
  position: relative;
}

.algemeneInfo li p {
  color: #F68D6B;
  position: absolute;
  padding: 0;
  padding-top: 1em;
  font-size: .7em;
}

.vergelijken li h2 {
  padding-top: 1em;
  font-size: 1.2em;
  color: black;
}

.algemeneInfo li h3 {
  color: black;
  text-align: left;
  font-size: 1em;
}

/* .vergelijken li {
  list-style-type: 0;
} */

/* .iPhones {
  padding: 0;
} */

/* .vergelijken li {
  list-style-type: none;
} */

/* .vergelijken .algemeneInfo h2, h3 {
  font-size: 1em;
} */

/* .vergelijken .algemeneInfo {
  list-style-type: none;
} */

/* .vergelijken .specs li {
  font-size: .7em;
  margin: 0;
  padding-left: 0;
} */

/* .vergelijken li.iPhones {
  padding-right: 15em;
  margin: 0;
}

.vergelijken ul {
  margin: 0;
  padding: 2em;
}

.vergelijken ul li {
  list-style-type: none;

}

.vergelijken h3, p {
  color: black;
  text-align: left;
  padding: 0;
}


.vergelijken ul li img {
  width: 20%;
} */

/* div ul li img {
  max-height: 20%;
} */


/* NOG VERANDEREN */
/* OL bij de footer van pagina 2 moeten nog cijfers voor komen */
